{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Taskify - Administrador de Tareas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><i class="fas fa-tasks"></i> Sh<span class="heart">♥️</span>t Done!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'task_list' %}">Tareas</a>
                </li>
                
                <li class="nav-item">
                  {% if user.is_authenticated %}
                      <a href="{% url 'logout' %}" class="nav-link"><i class="ri-logout-box-line"></i>Cerrar Sesión</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          </nav>

        {%block content%}
        {%endblock%}
    </div>

  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Fade-in animation for the jumbotron
    window.onload = function() {
      const jumbotron = document.querySelector('.jumbotron');
      jumbotron.classList.add('fade-in');
    };
  </script>
</body>
</html>
