{% extends 'tasks/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <div class="jumbotron fade-in">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-4">Observaciones de la Tarea</h1>
        </div>
      </div>
      <hr class="my-4">
      <ul class="observation-list">
        {% for observation in observations %}
          <li class="observation-item">
            <span class="observation-text">{{ observation.observations }}</span>
          </li>
        {% endfor %}
      </ul>
      <div class="observation-form">
        <form method="post" action="{% url 'observation_create' task_id=task_id %}">
          {% csrf_token %}
          <div class="form-group">
            <textarea name="observations" class="form-control" placeholder="Agregar observación"></textarea>
          </div>
          <button type="submit" class="btn btn-dark">Guardar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
