{% extends 'tasks/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-5">
        <h2>Detalle de esta tarea:</h2>
      </div>
    </div>
    <ul class="task-list">
      <li class="task-item fade-in">
        <div class="task-details">
          <h4>{{ task.title }}</h4>
          {% if task.completed %}
          <span class="badge badge-success">Completada</span>
        {% endif %}
          <span class="emoji">&#128512;</span>
          <div class=" md-12 mx-5 text-right">
            <a href="{% url 'task_edit' pk=task.pk %}" class="btn btn-outline-dark">Editar</a>
            <a href="{% url 'task_delete' pk=task.pk %}" class="btn btn-outline-dark">Eliminar</a>
            <a href="{% url 'task_complete' pk=task.pk %}" class="btn btn-outline-dark">Completar</a>
            <a href="{% url 'task_list' %}" class="btn btn-outline-dark">Retornar</a>
          </div>
        </div>
        <div>
          <p><strong>Descripción:</strong> {{ task.description }}</p>
          <p><strong>Fecha:</strong> {{ task.due_date }}</p>
          <p><strong>Etiqueta:</strong> {{ task.etiqueta.nombre }}</p>
          <div class="task-actions">
            <a href="{% url 'observation_create' task_id=task.pk %}" class="btn btn-outline-dark">Agregar Observación</a>
          </div>
        </div>
      </li>
    </ul>

    <!-- Listado de Observaciones -->
    
    <div class="col-md-6 my-5">
      <h2>Observaciones:</h2>
    </div>
    <ul class="task-list">
      <li class="task-item fade-in">
        <div class="observation-list">
          <ul>
            {% for observation in observations %}
              <li>{{ observation.observations }}</li>
            {% empty %}
              <li>No hay observaciones.</li>
            {% endfor %}
          </ul>
        </div>
      </li>
    </ul>
{% endblock %}
