{% extends 'tasks/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron fade-in">
        <div class="row">
          <div class="col-md-6">
              <h1 class="display-4">Lista de Tareas</h1>
          </div>
          <div class="col-md-6">
              <a href="{% url 'task_create' %}" class="btn btn-dark btn-lg">Agregar Tarea</a>
          </div>
       </div>
        <hr class="my-4">
        <div class="row">
            
        </div>
        <div class="col-md-8 my-4">
          <form method="GET" action="{% url 'task_list' %}">
              <div class="form-row align-items-center">
                  <div class="col-md-4">
                      <label for="id_name">Nombre</label>
                      <input type="text" id="id_name" name="name" class="form-control">
                  </div>
                  <div class="col-md-4">
                      <label for="id_due_date">Fecha límite</label>
                      <input type="date" id="id_due_date" name="due_date" class="form-control">
                  </div>
                  <div class="col-md-3">
                      <label for="id_etiquetas">Etiquetas</label>
                      <select name="etiqueta" id="id_etiquetas" class="form-control">
                          <option value="">Todas</option>
                          {% for etiqueta in etiqueta %}
                              <option value="{{ etiqueta.id }}">{{ etiqueta.nombre }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="col-md-1 mt-4">
                      <button type="submit" class="btn btn-dark">Filtrar</button>
                  </div>
              </div>
          </form>
      </div>
            <ul class="task-list">
              {% for task in tasks %}
                  <li class="task-item fade-in">
                      <div class="task-details text-left">
                          <h4>{{ task.title }}</h4>
                          <span class="emoji">&#128512;</span>
                      </div>
                      <div class="text-left">
                          <p><strong>Descripción:</strong> {{ task.description }}</p>
                          <p><strong>Fecha:</strong> {{ task.due_date }}</p>
                          <p><strong>Etiqueta:</strong> {{ task.etiqueta.nombre }}</p>
                      </div>
                      <div class="task-actions">
                        <a href="{% url 'task_detail' task.id %}" class="btn btn-outline-dark">Ver</a>
                      </div>
                  </li>
              {% empty %}
                  <li>No hay tareas.</li>
              {% endfor %}
          </ul>
    </div>
</div>
{% endblock %}
